@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This page is just a simple demonstration of the Back-end C# implementation of a web API used for playing the game Mastermind</p>
<p>It was developed to complete the <strong>Challenge One: Backend Implementation</strong> of the AxiomZen challenge during the 2016 VanHackaton.
</p>
<p>The source code is available on Github: <a href="https://github.com/luisfb/mastermind" target="_blank">https://github.com/luisfb/mastermind</a> </p>
<p>This API accept POST requests on the following URLs:</p>
<p>http://babinski.azurewebsites.net/new_game</p>
<p>http://babinski.azurewebsites.net/guess</p>
<div class="row">
    <div class="col-xs-6">
        <p>
            Example of a <strong>new_game</strong> Request:<br/>
            <img src="/Content/request1.png"/>
        </p>
        <p>
            Example of a <strong>new_game</strong> Response:<br/>
            <img src="/Content/json1.png"/>
        </p>
    </div>

    <div class="col-xs-6">
        <p>
            Example of a <strong>guess</strong> Request:<br />
            <img src="/Content/request1.png" />
        </p>
        <p>
            Example of a <strong>guess</strong> Response:<br />
            <img src="/Content/json2.png" />
        </p>

    </div>
</div>


<address>
    <strong>Web API developed by Luis Fernando Babinski:</strong> <a href="mailto:babinski.luis@gmail.com">babinski.luis@gmail.com</a>
</address>